/* Selenized Light */
:root {
  --bg-0: #fbf3db;
  --bg-1: #ece3cc;
  --bg-2: #d5cdb6;
  --dim-0: #909995;
  --fg-0: #53676d;
  --fg-1: #3a4d53;

  --red: #d2212d;
  --green: #489100;
  --yellow: #ad8900;
  --blue: #0072d4;
  --magenta: #ca4898;
  --cyan: #009c8f;
  --orange: #c25d1e;
  --violet: #8762c6;

  --br-red: #cc1729;
  --br-green: #428b00;
  --br-yellow: #a78300;
  --br-blue: #006dce;
  --br-magenta: #c44392;
  --br-cyan: #00978a;
  --br-orange: #bc5819;
  --br-violet: #825dc0;
}

/* Selenized White */
/* :root {
  --bg-0: #ffffff;
  --bg-1: #ebebeb;
  --bg-2: #cdcdcd;

  --dim-0: #878787;
  --fg-0: #474747;
  --fg-1: #282828;

  --red: #d6000c;
  --green: #1d9700;
  --yellow: #c49700;
  --blue: #0064e4;
  --magenta: #dd0f9d;
  --cyan: #00ad9c;
  --orange: #d04a00;
  --violet: #7f51d6;

  --br-red: #bf0000;
  --br-green: #008400;
  --br-yellow: #af8500;
  --br-blue: #0054cf;
  --br-magenta: #c7008b;
  --br-cyan: #009a8a;
  --br-orange: #ba3700;
  --br-violet: #6b40c3;
} */


body {
    background-color: var(--bg-0);
    color: var(--fg-0);
} 

#root {
    text-align: center;
    /* display: grid;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--fg-1);
}

h1, h2 {
    text-align: center;
}

a {
    color: var(--blue)
}

a:visited {
    color: var(--br-violet)
}

.long-text {
    width: clamp(45ch, 50%, 150ch);
    text-align: left;
}

.horizontal {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.horizontal > li {
    display: inline;
    margin-left: 10px;
}

.categoryItem {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
